body {
  background-color: ##fafafa;
  font-family: 'Encode Sans', sans-serif;
  padding: 100px;
}

head {
  background-color: #232323;
  font-family: 'Encode Sans', sans-serif;
  padding: 100px;

}

h3 {
   float:inherit;
   font-size: 18px;
   color: black;
   font-style: normal;
   font-weight: bold;

}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #000;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #5f4848;
    color: white;
}


p{
  color: black;
  font-size: 18px;
  font-weight: lighter;
  max-width:none;
  margin: auto;
  text-align: match-parent;
  padding: 20px 50px 77px;

}

p1{
  color: black;
  font-size: 18px;
  font-weight: lighter;
  max-width:none;
  margin: auto;
  text-align: match-parent;
  padding: 20px 50px 77px;

}

p2{
  color: black;
  font-size: 18px;
  font-weight: lighter;
  max-width:none;
  margin: auto;
  text-align: match-parent;
  padding: 20px 50px 77px;

}

p3{
  color: black;
  font-size: 18px;
  font-weight: lighter;
  max-width:none;
  margin: auto;
  text-align: match-parent;
  padding: 20px 50px 77px;

}

p4{
  color: black;
  font-size: 18px;
  font-weight: lighter;
  max-width:none;
  margin: auto;
  text-align: match-parent;
  padding: 20px 50px 77px;

}



.center {
  text-align: center;
}

h1 {
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

h2 {
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
}
