body {
  background-color: ##fafafa;
  font-family: 'Encode Sans', sans-serif;
  padding: 100px;
}

head {
  background-color: #232323;
  font-family: 'Encode Sans', sans-serif;
  padding: 100px;

}

h3 {
   float:inherit;
   font-size: 1em;
   color: black;
   font-style: normal;
   font-weight: bold;

}


#list li{
  display: inline;
  margin: 10px;
  text-align: center;
}

#list a{
  text-decoration: none;
  color: black;
}

#list {
  background-color: inherit;
  width: 300px;
  height: 25px;
  border-radius: 5px;
  font-weight: 300;
  font-size: 1em;
}

p{
  color: black;
  font-size: 1em;
  font-weight: lighter;
  max-width:none;
  margin: auto;
  text-align: match-parent;
  padding: 20px 50px 77px;

}




.center {
  text-align: center;
}

h1 {
  color: black;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

h2 {
  color: black;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
}
